body{
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    height: 100vh;
    margin: 0;
}
.header{

    text-align: center;
    padding:3px 0px;
}
h1{
    font-size: 70px;
}
.main-body{
    max-width:1000px ;
    display:flex;
    margin: 0 auto;
    align-items: center;
}